@{
    ViewData["Title"] = "Inicio";
}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container">
        <h1 class="display-5 fw-bold">
            Bienvenido al Portal Académico
        </h1>

        <p class="col-md-8 fs-5">
            Sistema para gestión de cursos, evaluaciones
            y actividades académicas.
        </p>

        <button class="btn btn-success btn-lg">
            Acceder al sistema
        </button>
    </div>
</div>


<div class="row">

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h5>Estudiantes</h5>
                <p>Consulta información de estudiantes.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h5>Cursos</h5>
                <p>Administración de cursos académicos.</p>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h5>Exámenes</h5>
                <p>Gestión de evaluaciones.</p>
            </div>
        </div>
    </div>

</div>